---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ContactForm from "@components/contactform.astro";
---

<Layout title="Contact Us">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact Us and choose Quality</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <p class="text-gray-600 text-center mt-16 text-2xl">
        Call Us at: <a href="tel:812-872-8375" target="_blank" aria-label="call Quality Electric" class="font-bold text-amber-500">812-872-8375</a>
    </p>

    <div class="p-5 sm:p-8 bg-white rounded-md shadow border border-slate-200 flex flex-col bg-center mx-auto mt-16 max-w-[600px]" id="contactForm">
        <h4 class="text-2xl font-semibold mb-4 text-center">Send Us a Message</h4>
        <ContactForm />
    </div>

  </Container>
</Layout>